SUPABASE_URL=https://jwxnrltpqgbrdtcirkll.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp3eG5ybHRwcWdicmR0Y2lya2xsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYyNzk2NzEsImV4cCI6MjA5MTg1NTY3MX0.sdBV7OESLUniphvDzjcfD16ausEnj-Ig9uYVeJmh-ns
SECRET_KEY=change_this_to_a_long_random_secret_key
